<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        número: <input type="number" name="numero">
        <button type="submit">Enviar</button>
        <button type="reset">Limpar</button>
    </form>
    <h1>numeros pares</h1>
    <ul>
        {% for i in numerospares %}
                <li>{{i}}</li>
        {% endfor %}
    </ul>
    <h1>numeros impares</h1>
    <ul>
        {% for i in numerosimpares %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>
    <h1>numeros</h1>
    {% for i in numeros1 %}
        <li>{{i}}</li>
    {% endfor %}
    </ul>
</body>
</html>